//Modellt definiálunk, így már tud listát fogadni
@model List<ToDoApp.Models.TodoItem>
@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárlólista</h2>
@*Megjegyzés ez itt*@

@Html.ActionLink("Új felvétele", "Create")


<ol>

    @foreach (var todoItem in Model)
    {
        if (todoItem.Done)
        {
            <li><strike>@Html.ActionLink(todoItem.Name,"Details",new {Id=todoItem.Id })</strike>@Html.ActionLink("Módosítás","Edit", new { Id = todoItem.Id })@Html.ActionLink("Törlés", "Delete", new { Id = todoItem.Id })</li>
        }
        else
        {
            <li>@Html.ActionLink(todoItem.Name, "Details", new { Id = todoItem.Id })@Html.ActionLink("Módosítás", "Edit", new { Id = todoItem.Id })@Html.ActionLink("Törlés", "Delete", new { Id = todoItem.Id })</li>
        }


    }


</ol>

@using (Html.BeginForm("Create", "Todo"))
{
    @Html.TextBox("Name")
    @Html.CheckBox("isDone")
    <button>Mentés</button>
    
}

